{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="http://localhost:80/www.w3schools.com/maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://localhost:80/www.w3schools.com/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="http://localhost:80/www.w3schools.com/ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://localhost:80/www.w3schools.com/cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="http://localhost:80/www.w3schools.com/maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>  
  <link rel="stylesheet" href="{% static "/core/css/main.css" %}">
</head>
<body>
  
  <div id="login">
    <form class="form-horizontal" name="LoginForm" action="{% url "login" %}" method="post"> 
      {% csrf_token %} 
      <div class="card w-50 m-auto">
        <div class="card-header">Student Project Management System</div>
        <div class="card-body">
            {% if form.errors %}
            <p class=" alert alert-danger">
              Your username and password didn't match.
              Please try again.
            </p>
            {% endif %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group w-100">
              <label class="control-label" for="username">Username :</label>
              <div class="controls">
                <input class="form-control" type="text" id="username" class="pr-3 pl-3 pt-2 pb-2" name="username" placeholder="Username">
              </div>
            </div>
            <div class="control-group w-100">
              <label class="control-label mt-3" for="password">Password :</label>
              <div class="controls">
                <input class="form-control" type="password" class="pr-3 pl-3 pt-2 pb-2" name="password" id="password" placeholder="Password">
              </div>
            </div>
        </div> 
        <div class="card-footer">
            <div class="control-group w-100">
              <div class="controls">
                <button type="submit" class="btn btn-outline-primary pl-4 pr-4">Login</button>
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>
</body>
