{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="{% static "/core/bootstrap/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/core/css/main.css" %}">
</head>
<body>
	<div class="container">
            <div>
                    <h1 class="text-center text-primary">Chuka University</h1>
                    {% if user.is_authenticated %}
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <a class="navbar-brand" href="{% url "index" %}"><h4>Student Project Management System</h4></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                          </ul>
            
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item ">
                              <a class="nav-link" href="{% url "index" %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url "projects" %}">Past Projects
                                <span class="sr-only">(current)</span>
                            </a>
                            </li>                                  
                            <!-- <li class="nav-item">
                                <a href="{% url "login" %}" class="nav-link" id="login">Log in</a>
                            </li> -->
                            <li class="nav-item" id="signup">
                              <a class="nav-link" href="{% url "logout" %}">Logout
                              </a>                           
                            </li>                          
                          </ul>
                        </div>
                      </nav>                    
                    {% else %}
                    <nav class="navbar navbar-expand-lg navbar-light ">
                            <a class="navbar-brand" href="{% url "index" %}"><h4>Student Project Management System</h4></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                              </ul>
                
                              <ul class="navbar-nav ml-auto">
                                <li class="nav-item ">
                                  <a class="nav-link" href="{% url "index" %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                  <a class="nav-link" href="{% url "projects" %}">Past Projects
                                    <span class="sr-only">(current)</span>
                                </a>
                                </li>                                  
                                <li class="nav-item">
                                    <a href="{% url "login" %}" class="nav-link" id="login">Log in</a>
                                </li>
                                <li class="nav-item" id="signup">
                                  <a class="nav-link" href="{% url "signup" %}">Register
                                  </a>                           
                                </li>                          
                              </ul>
                            </div>
                          </nav>
                    {% endif %}
		</div>
							
		<div class="wrapper">
			<div class="main">				
				<div id="login">
						<form class="form-horizontal" name="LoginForm" action="{% url "login" %}" method="post">
						{% csrf_token %}
						{% if form.errors %}
						<p class=" alert alert-danger">
							Your username and password didn't match. 
							Please try again.
						</p>
						{% endif %}
						{% if next %}
							<input type="hidden" name="next" value="{{ next }}" />
						{% endif %}
						<div class="control-group">
							<label class="control-label" for="username">Username :</label>
							<div class="controls">
								<input type="text" id="username" class="pr-3 pl-3 pt-2 pb-2" name="username"  placeholder="Username">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label mt-3" for="password">Password :</label>
							<div class="controls">
								<input type="password" class="pr-3 pl-3 pt-2 pb-2" name="password" id="password" placeholder="Password">
							</div>
						</div>
						<div class="control-group mt-4">
							<div class="controls">
								<button type="submit" class="btn pl-4 pr-4">Login</button>
							</div>
						</div>
						</form>
					</div>				
			</div>		
		</div>
	</div>		
</body>
</html>