{% extends "registration/base.html" %}

{% block content %}

<div id="login">
  <form class="form-horizontal" name="LoginForm" action="{% url "login" %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
    <p class=" alert alert-danger">
      Your username and password didn't match.
      Please try again.
    </p>
    {% endif %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
      <label class="control-label" for="username">Username :</label>
      <div class="controls">
        <input type="text" id="username" class="pr-3 pl-3 pt-2 pb-2" name="username" placeholder="Username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label mt-3" for="password">Password :</label>
      <div class="controls">
        <input type="password" class="pr-3 pl-3 pt-2 pb-2" name="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="control-group mt-4">
      <div class="controls">
        <button type="submit" class="btn btn-success pl-4 pr-4">Login</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}