{% extends "core/logged_base.html" %}

{% block content %}
{% if user.is_authenticated %}
{% if user.is_student %}
<div class="breadcrumbs">
    <a href="{% url "home" %}">SPMS</a>
    &rsaquo;
    Student
    &rsaquo;
    <a href="{% url  "home" %}">Past Projects</a> 
    <span class="float-right">Logged in as Student</span>      
</div>

{% elif user.is_supervisor %}
<div class="breadcrumbs">
    <a href="{% url "home" %}">SPMS</a>
    &rsaquo;
    Supervisor
    &rsaquo;
    <a href="{% url  "home" %}">Past Projects</a>
    <span class="float-right">Logged in as Supervisor</span>      
</div>
{% endif %}

{% else %}
<div class="breadcrumbs">
    <a href="{% url "home" %}">SPMS</a>
    &rsaquo;
    <a href="{% url  "home" %}">Past Projects</a>  
</div>

{% endif %}

<div class="wrapper w-100">
    <div id="intro">
        <h2>Past Student Projects in Computer Science Department</h2>
        <p>This list of past projects that students in the Computer Science Department have previously completed is
            provided for you to hep give you some ideas about your own Final Year Project</p>
    </div>

    <div id="past-projects">
        <div class="flex-container">
            <div id="head-titles">
                <a class="title year" href=""><div>Year <span class="fa fa-sort"></span></div></a>
                <a class="title lastname" href=""><div>Last Name <span class="fa fa-sort"></span></div></a>
                <a class="title firstname" href=""><div>First Name <span class="fa fa-sort"></span></div></a>
                <a class="title supervisor" href=""><div>Supervisor <span class="fa fa-sort"></span></div></a>
                <a class="title project-name" href=""><div>Project Title <span class="fa fa-sort"></span></div></a>
                <div class="title more-info">More Info </div>
            </div>
            {% for project in projects %}  
            <div class="project-info">              
                <div class="info year">{{ project.schedule.schedule_name }}</div>
                {% for student in students %}
                {% if student.project_id == project.id %}
                <div class="info lastname">
                    {{ student.last_name }}                   
                </div>
                <div class="info firstname">{{ student.first_name }}</div>
                <div class="info supervisor">
                    {{ student.supervisor.first_name }}, {{ student.supervisor.last_name }}
                </div>
                {% endif %}
                {% endfor %} 
                <div class="info project-name">{{ project.title }}</div>
                <div class="info more-info"> <a href=""> More Info</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

