{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Past Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static "/core/bootstrap/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/core/css/main.css" %}">
</head>
<body>
    <div class="container">
        <div id="wrapper">
            <div>
            <h1 class="text-center text-primary">Chuka University</h1>
            </div>
            <div>
                <h2>Past Student Projects in Computer Science Department</h2>
                <p>This list of past projects that students in Computer Science Department have completed is provided for you to hep give you some ideas about your own Final Year Project</p>
            </div>

            <div id="past-projects">
                <div class="flex-container">
                    <div id="head-titles">
                        <div class="title year">Year</div>
                        <div class="title lastname">Last Name</div>
                        <div class="title firstname">First Name</div>
                        <div class="title project-name">Project Title</div>
                        <div class="title supervisor">Supervisor</div>
                        <div class="title more-info">More Info</div>
                    </div>
                    <div class="project-info">
                        <div class="info year">2017/2018</div>
                        <div class="info lastname">Joseph</div>
                        <div class="info firstname">Victor</div>
                        <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                        <div class="info supervisor">Bernard, <br> Osero</div>
                        <div class="info more-info"> <a href=""> More Info</a></div>
                    </div>
                    <div class="project-info">
                            <div class="info year">2017/2018</div>
                            <div class="info lastname">Joseph</div>
                            <div class="info firstname">Victor</div>
                            <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                        <div class="info supervisor">Bernard, <br> Osero</div>
                            <div class="info more-info"> <a href=""> More Info</a></div>
                    </div>
                    <div class="project-info">
                            <div class="info year">2017/2018</div>
                            <div class="info lastname">Joseph</div>
                            <div class="info firstname">Victor</div>
                            <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                            <div class="info supervisor">Bernard Osero</div>
                            <div class="info more-info"> <a href=""> More Info</a></div>
                    </div>
                    <div class="project-info">
                            <div class="info year">2017/2018</div>
                            <div class="info lastname">Joseph</div>
                            <div class="info firstname">Victor</div>
                            <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                            <div class="info supervisor">Bernard Osero</div>
                            <div class="info more-info"> <a href=""> More Info</a></div>
                    </div>
                    <div class="project-info">
                            <div class="info year">2017/2018</div>
                            <div class="info lastname">Joseph</div>
                            <div class="info firstname">Victor</div>
                            <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                            <div class="info supervisor">Bernard Osero</div>
                            <div class="info more-info"> <a href=""> More Info</a></div>
                    </div>  
                    <div class="project-info">
                            <div class="info year">2017/2018</div>
                            <div class="info lastname">Joseph</div>
                            <div class="info firstname">Victor</div>
                            <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                            <div class="info supervisor">Bernard Osero</div>
                            <div class="info more-info"> <a href=""> More Info</a></div>
                        </div> 
                        <div class="project-info">
                                <div class="info year">2017/2018</div>
                                <div class="info lastname">Joseph</div>
                                <div class="info firstname">Victor</div>
                                <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                                <div class="info supervisor">Bernard Osero</div>
                                <div class="info more-info"> <a href=""> More Info</a></div>
                            </div> 
                            <div class="project-info">
                                    <div class="info year">2017/2018</div>
                                    <div class="info lastname">Joseph</div>
                                    <div class="info firstname">Victor</div>
                                    <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                                    <div class="info supervisor">Bernard Osero</div>
                                    <div class="info more-info"> <a href=""> More Info</a></div>
                                </div> 
                                <div class="project-info">
                                        <div class="info year">2017/2018</div>
                                        <div class="info lastname">Joseph</div>
                                        <div class="info firstname">Victor</div>
                                        <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                                        <div class="info supervisor">Bernard Osero</div>
                                        <div class="info more-info"> <a href=""> More Info</a></div>
                                    </div> 
                            <div class="project-info">
                            <div class="info year">2017/2018</div>
                            <div class="info lastname">Joseph</div>
                            <div class="info firstname">Victor</div>
                            <div class="info project-name">This is an example Student Project title like a Student Project Management System</div>
                            <div class="info supervisor">Bernard Osero</div>
                            <div class="info more-info"> <a href=""> More Info</a></div>
                        </div>                       
                </div>
            </div>
        </div>
    </div>
</body>
</html>