{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="{% static "/core/bootstrap/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/core/css/main.css" %}">
</head>
<body>
	<div class="container">
            <div>
                    {% if user.is_authenticated %}
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <a class="navbar-brand" href="{% url "home" %}"><h4>Student Project Management System</h4></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                          </ul>
            
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item ">
                              <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url "home" %}">Past Projects
                                <span class="sr-only">(current)</span>
                            </a>
                            </li>                                  
                            <!-- <li class="nav-item">
                                <a href="{% url "login" %}" class="nav-link" id="login">Log in</a>
                            </li> -->
                            <li class="nav-item" id="signup">
                              <a class="nav-link" href="{% url "logout" %}">Logout
                              </a>                           
                            </li>                          
                          </ul>
                        </div>
                      </nav>                    
                    {% else %}
                    <nav class="navbar navbar-expand-lg navbar-light ">
                            <a class="navbar-brand" href="{% url "home" %}"><h4>Student Project Management System</h4></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                              </ul>
                
                              <ul class="navbar-nav ml-auto">
                                <li class="nav-item ">
                                  <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                  <a class="nav-link" href="{% url "home" %}">Past Projects
                                    <span class="sr-only">(current)</span>
                                </a>
                                </li>                                  
                                <li class="nav-item">
                                    <a href="{% url "login" %}" class="nav-link" id="login">Log in</a>
                                </li>
                                <li class="nav-item" id="signup">
                                  <a class="nav-link" href="{% url "signup" %}">Register
                                  </a>                           
                                </li>                          
                              </ul>
                            </div>
                          </nav>
                    {% endif %}
		</div>
							
		<div class="wrapper">
			<div class="main">
                {% if user.is_authenticated %}
                {% if user.is_student %}
								<form action="{% url "request-appointment" %}" method="POST">
									{% csrf_token %}
									{% for field in form %}
									<div class="w-75 text-left m-auto">
                  <div class="mb-3">
                    <span class="label">{{ field.label_tag }}</span>
                    <div class="field float-right">{{ field }}</div>
                  </div>
									{% for error in field.errors %}
									<div>
										<div class="alert alert-danger" style="width:100%; text-align:left">{{ error }}</div>
									</div>
                  {% endfor %}

									</div>
									{% endfor %}
                  <!-- <input type="submit" value="Sign Up"> -->
                  <div class="w-75 m-auto text-left">
                      <button class="btn btn-success pl-4 pr-4"	type="submit">Submit</button>
                  </div>
                </form> 
                {% endif %}
								<form action="{% url "select_days" %}" method="POST">
									{% csrf_token %}
									{% for field in form2 %}
									<div class="w-75 text-left m-auto">
                  <div class="mb-3">
                    <span class="label">{{ field.label_tag }}</span>
                    <div class="field float-right">{{ field }}</div>
                  </div>
									{% for error in field.errors %}
									<div>
										<div class="alert alert-danger" style="width:100%; text-align:left">{{ error }}</div>
									</div>
                  {% endfor %}

									</div>
									{% endfor %}
                  <!-- <input type="submit" value="Sign Up"> -->
                  <div class="w-75 m-auto text-left">
                      <button class="btn btn-success pl-4 pr-4"	type="submit">Submit</button>
                      {% for day in days %}
                      {% if day.day == "0" %}
                      <p>Monday <span class="ml-5">{{ day.time }}</span> </p>
                      {% elif day.day == "1" %}
                      <p>Tuesday<span class="ml-5">{{ day.time }}</span></p>
                      {% elif day.day == "2" %}
                      <p>Wednesday<span class="ml-5">{{ day.time }}</span></p>
                      {% elif day.day == "3" %}
                      <p>Thursday<span class="ml-5">{{ day.time }}</span></p>
                      {% elif day.day == "4" %}
                      <p>Friday<span class="ml-5">{{ day.time }}</span></p>
                      {% elif day.day == "5" %}
                      <p>Saturday<span class="ml-5">{{ day.time }}</span></p>
                      {% endif %}
                      {% endfor %}

                      <h5 class="mt-5 mb-3">Pending Appointments</h5>
                      <p>Sender<span class="ml-4 mr-4">Date</span> <span class="ml-4 mr-4">Time</span> </p>             
                      {% for appointment in appointments %}
                      {% for student in students %}
                      {% if student.id == appointment.student_id %}
                      <p>{{ student.first_name }} <span class="ml-4 mr-4">{{ appointment.date }}</span> <span class="ml-4 mr-4">{{ appointment.time }}</span> </p>
                      {% endif %}
                      {% endfor %}
                      {% endfor %}
                      
                  </div>         
                {% endif %}
			</div>		
		</div>
	</div>		
</body>
</html>