{% extends "core/logged_base.html" %}


{% block content %}

{% if user.is_authenticated %}
{% if user.is_supervisor %}
<div class="breadcrumbs">
    <a href="{% url "home" %}">SPMS</a>
    &rsaquo;
    Supervisor
    &rsaquo;
    <a href="{% url  "appointments" %}">Appointments</a>
    &boxv;
    <a href="{% url  "select_days" %}">Select Available Days</a>
    <span class="float-right">Logged in as Supervisor</span>    
</div> 
<div class="wrapper">
<h6 class="w-75 m-auto pb-4">Select available time slots</h6>
<form action="{% url "select_days" %}" method="POST">
        {% csrf_token %}
        {% for field in form2 %}
<div class="w-75 text-left m-auto">
<div class="mb-3">
<span class="label">{{ field.label_tag }}</span>
<div class="field float-right">{{ field }}</div>
</div>
        {% for error in field.errors %}
        <div>
            <div class="alert alert-danger" style="width:100%; text-align:left">{{ error }}</div>
        </div>
{% endfor %}

</div>
{% endfor %}
<!-- <input type="submit" value="Sign Up"> -->
<div class="w-75 m-auto text-left">
<button class="btn btn-success pl-4 pr-4"	type="submit">Submit</button>
</div>
</form>
{% endif %}
{% endif %}
</div>
{% endblock %}