{% extends "core/base.html" %}


{% block content %}

{% if user.is_authenticated %}
{% if user.is_supervisor %}
<h5 class="mb-2">Logged in as a Supervisor</h5>
<div class="row bg-secondary pt-2 pb-2">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-2"></div>
    <div class="col-2"> <a style="color: white" href="{% url  "select_days" %}">Set Appointment Time</a></div>
    <div class="col-2"><a style="color: white" href="{% url  "appointments" %}">Appointments</a></div>
</div> 
<p class="w-75 m-auto pb-4">Select available time slots</p>
<form action="{% url "select_days" %}" method="POST">
        {% csrf_token %}
        {% for field in form2 %}
<div class="w-75 text-left m-auto">
<div class="mb-3">
<span class="label">{{ field.label_tag }}</span>
<div class="field float-right">{{ field }}</div>
</div>
        {% for error in field.errors %}
        <div>
            <div class="alert alert-danger" style="width:100%; text-align:left">{{ error }}</div>
        </div>
{% endfor %}

</div>
{% endfor %}
<!-- <input type="submit" value="Sign Up"> -->
<div class="w-75 m-auto text-left">
<button class="btn btn-success pl-4 pr-4"	type="submit">Submit</button>
</div>
</form>
{% endif %}
{% endif %}

{% endblock %}