
.flex-container{
    display:flex;
    flex-direction: column;

}

#head-titles{
    display:flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 97%;
    text-align: left;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid rgb(109, 108, 108);

}

.title {
    margin: 10px;
}
.info{
    margin: 10px;
}

.year{
    width: 10%;
}

.project-name{
    width: 40%;
    text-align: justify;
}

.lastname{
    width: 20%;
}

.firstname{
    width: 20%;
}

.more-info{
    width: 10%;
}

.supervisor{
    width: 20%; 
}

.project-info{
    display:flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 97%;
    text-align: left;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
    /* border-top: 1px solid rgb(184, 181, 181); */
    border-bottom: 1px solid rgb(184, 181, 181);

}

.project-info:hover{
    cursor: pointer;
    transform: scale(1.005);
    transition: transform 0.2s ease;
}


.project-info:nth-child(even){
    background-color: #eeeded;
}