
body{
    font-size: 15px;
    opacity: 0.9;
}

.navbar {
    width: 100%;
    margin: auto;
}

.navbar .navbar-brand{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar  .nav-item .nav-link{
    color: black;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
    padding-left: 10px;
    padding-right: 10px
}

.navbar  .nav-item .nav-link:hover{
    color: white;
    background-color: rgb(48, 48, 48);
}

.wrapper{
    width: 100%;
    margin: auto;
    /* background-color: whitesmoke; */
    padding:50px 20px 20px 20px;
    border-radius: 5px;
}

.main{
    width: 100%;
    margin: auto;
}

#intro{
    margin-top: 10px;
}

.flex-container{
    display:flex;
    flex-direction: column;

}

/* .row{
    width: 90%;
} */

#head-titles{
    display:flex;
    flex-direction: row;
    background-color: whitesmoke;
    text-align: left;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid rgb(109, 108, 108);

}

.title {
    margin: 15px 15px 15px 15px;
}
.info{
    margin: 10px;
}

.year{
    width: 10%;
}

.project-name{
    width: 30%;
}

.lastname{
    width: 20%;
}

.firstname{
    width: 18%;
}

.more-info{
    width: 18%;
}

.supervisor{
    width: 20%; 
}

.project-info{
    display:flex;
    flex-direction: row;
    background-color: #ffffff;
    text-align: left;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
    /* border-top: 1px solid rgb(184, 181, 181); */
    border-bottom: 1px solid rgb(184, 181, 181);

}

.project-info:hover{
    cursor: pointer;
    transform: scale(1.005);
    transition: transform 0.2s ease;
    opacity: 1.5;
}


.project-info:nth-child(even){
    background-color: #eeeded;
}

#login #username, #password{
    width: 70%;
    border: 1px solid gray;
    border-radius: 3px;
}

/* #signup .field{
    width: 70%;
    border: 1px solid gray;
    border-radius: 3px
} */

.table{
    font-family: arial, sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}

.table td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding:3px 3px 3px 10px;
}

.table tr:nth-child(even){
    background-color: #ececec;
}