body{
    font-size: 14px;
    background-color: #EDEFF1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
    width: 100%;
    margin: auto;
    background-color: #373b3d;
    z-index: 1;
    top: 0;
    height: 45px;
    text-shadow: 0 -1px #121414;
}

.navbar .navbar-brand{
    color: white;
    font-size: 18px;
    margin: 4px 15px 0 13px;
    padding: 0;
    text-shadow: 0 -1px #121414;
}

.navbar .navbar-brand:hover{
    color: whitesmoke;
    text-shadow: 0 -1px #121414;
}

.navbar .header-content {
    float: left;
    height: 45px;
    padding: 7px 0 0 30px;
    line-height: normal;
    overflow: hidden;
    color: rgb(226, 226, 226);
}

.navbar .header-content.header-content-first {
    border-left: 1px solid #45494c;
    margin-right: 20px;
}

.navbar  .nav-item .nav-link{
    color: #fffefe;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
    padding-left: 10px;
    padding-right: 10px
}

.navbar  .nav-item .nav-link:hover{
    color: rgb(157, 177, 221);
    /* background-color: rgb(48, 48, 48); */
}
/* SIDE NAV */


.side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.side-nav-item a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.side-nav-item a.active {
    background-color: #4CAF50;
    color: white;
}

.side-nav-item a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* CONTAINER */
.content{
    margin-top: 45px;
}
/* BREADCRUMBS  */

.breadcrumbs {
    width: 100%;
    background: #79aec8;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    color: #d6d8da;
    text-align: left;
    float: right;
}

.breadcrumbs .current{
    border-bottom: 1px solid whitesmoke;
}

.breadcrumbs .current:hover{
    border-bottom: 1px solid whitesmoke;
    text-decoration: none;
}

.breadcrumbs a {
    color: #fff;
}

.breadcrumbs a:focus, .breadcrumbs a:hover {
    color: #c4dce8;
}

.wrapper{
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
    padding:20px 20px 20px 20px;
    border-radius: 5px;
    float: right;
}

.flex-container{
    display:flex;
    flex-direction: column;
}

/* .row{
    width: 90%;
} */

#head-titles{
    display:flex;
    flex-direction: row;
    background-color: whitesmoke;
    text-align:  left;
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgb(109, 108, 108);
    border-top: 1px solid rgb(109, 108, 108);
    margin-top: 20px;
}

.title {
    padding: 15px 5px 15px 15px;
    text-decoration: none;
    color: #417690;
    border-right: 1px solid black;
}

#head-titles:first-child{
    border-left: 1px solid black;
}

.title:hover{
    text-decoration: none;
    color: #417690;
}

.info{
    margin: 10px;
}

.year{
    width: 10%;
}

.project-name{
    width: 30%;
}

.lastname{
    width: 20%;
}

.firstname{
    width: 18%;
}

.more-info{
    width: 18%;
}

.supervisor{
    width: 20%; 
}

.project-info{
    display:flex;
    flex-direction: row;
    background-color: #ffffff;
    text-align: left;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid rgb(184, 181, 181);

}

.project-info:hover{
    cursor: pointer;
    background-color: rgb(145, 145, 145);
    /* transform: scale(1.005);
    transition: transform 0.1s ease; */
}


.project-info:nth-child(even){
    background-color: #eeeded;
}

#login {
    margin: 0;
    border-radius: 4px;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 35%;
    margin-top: -100px;
}

#login .card .card-header{
    background-color: #5295b0;
    color: white;
}

/* #signup .field{
    width: 70%;
    border: 1px solid gray;
    border-radius: 3px
} */

.table{
    font-family: arial, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.table th{
    background-color: #9b9999;
    padding: 8px;
}

.table td{
    border: 1px solid #dddddd;
    text-align: left;
    padding:10px;
}

.table tr:nth-child(odd){
    background-color: #ececec;
}

/* #comments{
    width: 100%;
    text-align: left;

} */

#supervisor_comment{
    cursor: pointer;
    background-color: rgb(222, 226, 243);
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#student_comment{
    cursor: pointer;
    background-color: rgb(255, 237, 234);
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* #comments .comment{
    padding: 10px;
} */

/* MILESTONES */

.milestone{
    width: 100%;
    margin: auto;
}

.tip{
    position: relative;
    display: inline-block;
}
/* Tooltip text */
.tip .tiptext {
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    width: 200px;
    background-color: rgb(163, 162, 162);
    color: #fff;
    /* text-align: center; */
    padding: 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tip:hover .tiptext {
    visibility: visible;
}

.tip .tiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(163, 163, 163) transparent transparent transparent;
}



<table class="table table-striped table-hover w-50">
<thead>
    <th></th>
    <th></th>
    <th></th>
</thead>
{% for field in form2 %}
<tr>
<div class="input-group date w-75 m-auto time1" id="datetimepicker1" data-target-input="nearest">
    <td>
        <div class= "">
            {{ field.label }}
        </div>
    </td>
    <td>
        <div class="ml-5">
            <div class="input-group-append float-right time2" data-target="#datetimepicker1" data-toggle="datetimepicker">
            {{ field }}
            <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </td>
    <td>
        <span class="input-group-text ml-4 tip">
            <i class="fa fa-close"></i>
            <span class="tiptext">
                Delete the saved timeslot
            </span>
        </span>
    </td>
</div>
</tr>
{% endfor %}
</table>