
body{
    background: #b0dadb;
}

.navbar {
    width: 85%;
    margin: auto;
}

.navbar .navbar-brand{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar  #login{
    background-color: whitesmoke;
    color: black;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
    padding-left: 20px;
    padding-right: 20px;


}

.navbar  #login:hover{
    background-color: #ffffff;
}

.navbar  #signup{
    background-color: rgb(69, 93, 233);
    color: black;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
    padding-left: 15px;
    padding-right: 15px
}

#wrapper{
    width: 85%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

#intro{
    margin-top: 10px;
}

.flex-container{
    display:flex;
    flex-direction: column;

}

/* .row{
    width: 90%;
} */

#head-titles{
    display:flex;
    flex-direction: row;
    background-color: #ffffff;
    text-align: left;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid rgb(109, 108, 108);

}

.title {
    margin: 15px;
}
.info{
    margin: 15px;
}

.year{
    width: 10%;
}

.project-name{
    width: 40%;
    text-align: left;
}

.lastname{
    width: 20%;
}

.firstname{
    width: 20%;
}

.more-info{
    width: 10%;
}

.supervisor{
    width: 20%; 
}

.project-info{
    display:flex;
    flex-direction: row;
    background-color: #ffffff;
    text-align: left;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
    /* border-top: 1px solid rgb(184, 181, 181); */
    border-bottom: 1px solid rgb(184, 181, 181);
    opacity: 0.8;

}

.project-info:hover{
    cursor: pointer;
    transform: scale(1.005);
    transition: transform 0.2s ease;
    opacity: 1.5;
}


.project-info:nth-child(even){
    background-color: #eeeded;
}