{% extends "core/logged_base.html" %}
{% load crispy_forms_tags %}


{% block content %}
{% if user.is_authenticated %}
{% if user.is_supervisor %}
<div class="breadcrumbs">
    <a href="{% url "home" %}">SPMS</a>
    &rsaquo;
    Supervisor
    &rsaquo;
    <a href="{% url "project" %}">Project</a>
    &rsaquo;
    <a class="current" href="{% url "project" %}">Project Supervision</a>
    <span class="float-right">Logged in as Supervisor</span>
</div>
<div class="wrapper">
    <div class="row milestone mt-3 mb-3 bg-dark text-light">
        <div class="col text-left">Semester1</div>
        <div class="col text-left ">Status</div>
        <div class="col text-left">Start Date</div>
        <div class="col text-left">End Date</div>
        <div class="col text-left">Remaining Days</div>
        <div class="col text-left">Document Title</div>
        <div class="col text-left">Download Documentation</div>
        <div class="col text-left">Comments</div>
        <div class="col text-left">Complete</div>
    </div>
    {% for milestone in milestones %}
    <script>
        window.onload = function activateModals(){
                var id2 = "milestone_"+"{{ milestone.id }}";
                document.getElementById("comment-id").setAttribute("id",id2);
                document.getElementById("comment-modal").setAttribute("data-target", "#"+id2);
    
                console.log(id2);
                // }
                console.log("success");
            }
        </script>
    {% if milestone.check_status == "NS" %}
    <div class="row milestone mt-1 bg-secondary">
    {% elif milestone.check_status == "ON" %}
    <div class = "row milestone mt-1 bg-warning">
    {% else %}
    <div class = "row milestone mt-1">
    {% endif %}  

    {% if milestone.check_status == "FN" %}
    {% if milestone.id in completed_milestones %}
    <div class = "row milestone mt-1 bg-success">
    {% else %}
    <div class = "row milestone mt-1 bg-danger">
    {% endif %}
    {% endif %}

    <!-- <div class = "row milestone mt-1 bg-danger"> -->

        <div class="col text-left"><a href=""></a>{{ milestone.milestone_name }}
            <input type="hidden" id="myVar" name="variable" value="{{ milestone.id }}">
        </div>
        <div class="col text-left">
            {% if milestone.check_status == "NS" %}Not Started
            {% elif milestone.check_status == "ON" %}Ongoing
            {% else %} Finished
            {% endif %}
        </div>
        <div class="col text-left ">
            {{ milestone.start_date }}
        </div>
        <div class="col text-left">
            {{ milestone.end_date}}
        </div>
        <div class="col text-left">
            {% for key,values in remaining_days.items %}
            {% if key == milestone.id %}
            {{ values }}
            {% endif %}
            {% endfor %}
        </div>
        <div class="col text-left ">{{ milestone.required_document }}</div>
        <div class="col text-left ">
            <a href="" data-toggle="modal" id="modal-link" data-target="#{{ milestone.id }}">Download</a>
            <div class="modal" id="{{ milestone.id }}">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Download Documents for {{ milestone.milestone_name }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped table-hover">
                                <th>Document Title</th>
                                <th>Link</th>
                                {% for document in documents %}
                                {% if document.student_id == student.id %}
                                {% if document.milestone_id == milestone.id %}
                                <tr>
                                    <td>{{ document.title }}</td>
                                    <td><a href="{% url "download" document.id %}">Download</a></td>
                                </tr>
                                <tr>
                                </tr>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-left">
        <div class="col text-left">
                <a class="text-dark" href="" id="comment-modal" data-toggle="modal" data-target="#comment-id">
                        {% for key, values in comment_count.items %}
                        {% if key == milestone.id %}
                        {{ values }}
                        {% endif %}
                        {% endfor %}
                        <span class="fa fa-comment"></span>
                </a>            
                <div class="modal" id="comment-id">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-secondary">
                                <h4 class="modal-title">View Comments on {{ milestone.milestone_name }}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url "view_comments" milestone.id student.id %}">
                                    {% csrf_token %}
                                    <div class="w-100">
                                    {{ form | crispy }}
                                    <button class="btn btn-outline-success pl-5 pr-5 float-right mb-5" type="submit">Add Comment</button>
                                    <div class="clearfix"></div>
                                    </div>
                                </form>
                                <div class="w-100 mb-5">
                                {% for comment in comments %}
                                {% if comment.milestone_id == milestone.id %}
                                    {% if comment.sender == 0 %}
                                    <div id="supervisor_comment" class="mb-2">
                                        By {{ comment.supervisor.first_name}} - {{ comment.sent_date }}
                                        <hr>
                                        <p>{{ comment.text }}</p>                                      
                                    </div>
                                    {% else %}
                                    <div id="student_comment" class="mb-1">
                                        By {{ comment.student.first_name}} - {{ comment.sent_date }}
                                        <hr>
                                        <p>{{ comment.text }}
                                        </p>
                                    </div>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}                                
                                </div>                                
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <div class="col text-left">
            <form action="{% url "close_milestone" milestone.id student.project.id %}">
                {% csrf_token %}
                <input type="hidden">
                {% if 1 %}
                <button class="btn btn-info disabled" type ="submit">
                    close
                </button>
                {% endif %}
            </form>
        </div>
    </div>
    {% endfor %}
    <form action="{% url "close_project" student.project.id %}">
            {% csrf_token %}
            <input type="hidden">
            {% if 1 %}
            <button class="btn btn-info disabled" typpe ="submit">
                Close Project
            </button>
            {% endif %}
    </form>    
</div>
{% else %}
Not Authorized to access this site. Please login as a supervisor <a href="">here</a>
{% endif %}
{% endif %}

{% endblock %}